{{ define "user/arr_struct.html" }}
<!DOCTYPE html>
<html lang="zh">

<head>
    <title>结构体数组渲染</title>
</head>

<body>
    <h4>第一种遍历方式</h4>
    {{ range . }}
    <p>
        <span>{{ .Id }}</span>
        <span>{{ .Age }}</span>
        <span>{{ .Name }}</span>
        <span>{{ .Addr }}</span>
    </p>
    {{ end }}

    <h4>第二中遍历方式</h4>
    {{ range $i, $v := . }}
    <p>
        <span>{{ $i }}</span>
        <span>{{ $v.Id }}</span>
        <span>{{ $v.Age }}</span>
        <span>{{ $v.Name }}</span>
        <span>{{ $v.Addr }}</span>
    </p>
    {{ end }}
</body>

</html>
{{ end }}